RetailBusiness360/Pipelines/ERP_Daily_6PM_OnPrem2Bronze/ERP_Daily_6PM_OnPrem2Bronze.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"falcon;retail360 (2)":{"type":"string"},"RBusiness360_LakeHouse":{"type":"string"}},"variables":{},"resources":[{"name":"ERP_Daily_6PM_OnPrem2Bronze","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup1","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"SELECT TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES  \nWHERE TABLE_TYPE = 'BASE TABLE';","queryTimeout":"02:00:00","partitionOption":"None"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"retail360"},"externalReferences":{"connection":"[parameters('falcon;retail360 (2)')]"}}}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Lookup1","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Lookup1').output.value","type":"Expression"},"activities":[{"name":"ERP","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"schema":"org","table":{"value":"@item().TABLE_NAME","type":"Expression"},"database":"retail360"},"externalReferences":{"connection":"[parameters('falcon;retail360 (2)')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","fileExtension":".txt"},"datasetSettings":{"annotations":[],"linkedService":{"name":"RBusiness360_LakeHouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"5e51dc37-9db8-4557-8a69-19ddbc1fd509","artifactId":"[parameters('RBusiness360_LakeHouse')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":{"value":"@concat(item().TABLE_NAME,'_',formatDateTime(utcNow(),'yyyyMMdd'),'.csv')","type":"Expression"},"folderPath":{"value":"@concat('ERP/',item().TABLE_NAME)","type":"Expression"},"container":{"value":"Bronze","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"d017231a-2896-47a4-8720-dd5118358d85","lastPublishTime":"2026-05-18T11:14:57Z"},"dependsOn":[]}]}