RetailBusiness360/Pipelines/CRM_Daily_6AM_Lakehouse2SQLWarehouse/CRM_Daily_6AM_Lakehouse2SQLWarehouse.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"RBusiness360_LakeHouse":{"type":"string"},"CRMDatabase":{"type":"string"}},"variables":{},"resources":[{"name":"CRM_Daily_6AM_Lakehouse2SQLWarehouse","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Set variable1","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@variables('TableList')","type":"Expression"},"isSequential":true,"activities":[{"name":"CRM","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"RBusiness360_LakeHouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"5e51dc37-9db8-4557-8a69-19ddbc1fd509","artifactId":"[parameters('RBusiness360_LakeHouse')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item(),'.csv')","type":"Expression"},"folderPath":"CRM_RAW"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}},"sink":{"type":"FabricSqlDatabaseSink","writeBehavior":"insert","sqlWriterUseTableLock":false,"datasetSettings":{"annotations":[],"connectionSettings":{"name":"CRMDatabase","properties":{"annotations":[],"type":"FabricSqlDatabase","typeProperties":{"workspaceId":"93cfe90f-25ff-4791-afb7-572e3a92bafb","artifactId":"[parameters('CRMDatabase')]"},"externalReferences":{"connection":"0ef42619-422e-4375-9883-0b15354c3e29"}}},"type":"FabricSqlDatabaseTable","schema":[],"typeProperties":{"schema":"org","table":{"value":"@item()","type":"Expression"}}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}},{"name":"Set variable1","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"TableList","value":["customers","interactions"]}},{"name":"Dataflow1","type":"RefreshDataflow","dependsOn":[{"activity":"ForEach1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"a489c998-2f40-4c9e-87a4-fbfa072d2eca","workspaceId":"5e51dc37-9db8-4557-8a69-19ddbc1fd509","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}}],"variables":{"TableList":{"type":"Array","defaultValue":["customers","interactions"]}},"lastModifiedByObjectId":"d017231a-2896-47a4-8720-dd5118358d85","lastPublishTime":"2026-05-19T22:58:34Z"},"dependsOn":[]}]}